#nav-bar button:hover {
  background-color: silver;
}


#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  left: 2em;
  position: fixed;
  right: 2em;
  top: 0px;
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    justify-content: left;
  }
  .logo {
    height: 80px;
    padding:5px;
    width: 80px;
  }
  .header {
    position: left;
    font-size: 200%;
    margin-top: 20px;
  }
    button {
    background-color: white;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding: 15px;
    color: #00a087;
  }

  z-index: 1;
}


.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 10px;
  background-color: white;
  width: 450px;
  word-wrap: break-word;
}