.tweet {
  background-color: white;
  border-radius: 5px;
  border-style: groove;
  margin:10px 2em 10px 2em;
  padding-bottom: 0px;
  width: 386px;
  aside {
    display: none;
  }

  .heart img{
    opacity: 0.3;
  }

  a {
    padding-right: 3px;
  }


  button{
    background-color: Transparent;
    border: none;
  }

  footer{
    display: flex;
    justify-content: space-between;
  }

  h2 {
    float: left;
    margin: 0px;
    margin-left:2px;
    padding-top: 5px;
  }

  main {
    border-bottom: solid #dbdbdb;
    border-bottom-width: thin;
  }

  .date {
    margin: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: 70%;
  }

  .handle {
    float: right;
    font-size: 80%;
    padding-right: 8px;
    margin-top: 13px;
    color: grey;
  }

  .tbutton {
    height: 20px;
    width: 20px;
  }

  main p {
    padding: 10px 1em 10px 1em;
  }

  .userpix {
    border-radius: 10px;
    opacity: 0.4;
    float: left;
    height: 60px;
    margin: 0px;
    padding-top:10px;
    padding: 5px;
    height: 60px;
    width: 60px;
  }

  header {
    background-color: #f2f2f2;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 60px;
    margin:0px;
    padding: 0px;
  }
}

.tweet:hover{
  aside{
    display: block;
  }

  header {
      background-color: #eaeaea;
  }
  .userpix {
    opacity: 1;
  }
}

aside{
  display: block;
}

header {
    background-color: #eaeaea;
}
.userpix {
  opacity: 1;
}
