.tweet {
  background-color: white;
  border-radius: 5px;
  border-style: groove;
  margin:10px 2em 10px 2em;
  padding-bottom: 0px;
  width: 386px;
}

.tweet aside {

}

.tweet button{
  background-color: Transparent;
  border: none;
}

.tweet footer{
  display: flex;
  justify-content: space-between;
}

.tweet header {
  background-color: #eaeaea;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 60px;
  margin:0px;
  padding: 0px;
}


.tweet h2 {
  float: left;
  margin: 0px;
  margin-left:2px;
  padding-top: 5px;
}

.tweet main {
  border-bottom: solid #dbdbdb;
  border-bottom-width: thin;
}


.tweet .date {
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 70%;
}

.tweet .handle {
  float: right;
  font-size: 80%;
  padding-right: 8px;
  margin-top: 13px;
  color: grey;
}

.tweet .tbutton {
  height: 20px;
  width: 20px;
}

.tweet main p {
  padding: 10px 1em 10px 1em;
}

.tweet .userpix {
  border-radius: 5px;
  float: left;
  height: 60px;
  margin: 0px;
  padding-top:10px;
  padding: 5px;
  height: 60px;
  width: 60px;
}
